<!DOCTYPE html>
<html>
  <head>
    <title>Medical Guide</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link rel="icon" type="image/png" href="images/favicon-medical.png">
    
    
	<!--main file-->
	<link href="css/medical-guide.css" rel="stylesheet" type="text/css">
    
    <!--Medical Guide Icons-->
	<link href="fonts/medical-guide-icons.css" rel="stylesheet" type="text/css">
    
	<!-- Default Color-->
	<link href="css/default-color.css" rel="stylesheet" id="color"  type="text/css">

    <!--bootstrap-->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    
    <!--Dropmenu-->
	<link href="css/dropmenu.css" rel="stylesheet" type="text/css">
    
	<!--Sticky Header-->
	<link href="css/sticky-header.css" rel="stylesheet" type="text/css">
	
	<!--revolution-->
	<link href="css/style.css" rel="stylesheet" type="text/css">    
    <link href="css/settings.css" rel="stylesheet" type="text/css">    
    <link href="css/extralayers.css" rel="stylesheet" type="text/css">    
   
    <!--Accordion-->
    <link href="css/accordion.css" rel="stylesheet" type="text/css">
     
    <!--tabs-->
	<link href="css/tabs.css" rel="stylesheet" type="text/css">    
   
    <!--Owl Carousel-->
	<link href="css/owl.carousel.css" rel="stylesheet" type="text/css">    
    
	
    <!--Portfolio-->
	<link rel="stylesheet" type="text/css" href="css/cubeportfolio.min.css">	
   

	<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css">
	
	<!-- Mobile Menu -->
	<link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" />
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	
	<!--PreLoader-->
	<link href="css/loader.css" rel="stylesheet" type="text/css">
 
  </head>
  <body>
   
  <div id="wrap">
   
   <!--Start PreLoader-->
   <div id="preloader">
		<div id="status">&nbsp;</div>
		<div class="loader">
			<h1>Loading...</h1>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!--End PreLoader-->
   
   
   <!--Start Top Bar-->
   <div class="top-bar">
   		<div class="container">
    		<div class="row">
            	
                <div class="col-md-5">
                	<span >MedicalGuide Come to Expect the Best in Town.</span>
                </div>
                
                <div class="col-md-7">
                
                
                	
    
    
                	<div class="get-touch">
                    	
						<ul>
                        <li><a><i class="icon-phone4"></i> 1-300-400-8211</a></li>
                        <li><a href="#."><i class="icon-mail"></i> help@medicalguide.com</a></li>
						</ul>
						
                        <ul  class="social-icons">
                        <li><a href="#." class="fb"><i class="icon-euro"></i> </a></li>
                        <li><a href="#." class="tw"><i class="icon-yen"></i> </a></li>
                        <li><a href="#." class="gp"><i class="icon-caddieshoppingstreamline"></i> </a></li>
						</ul>
                        
                    </div>	
                </div>
                
            </div>
    	</div>
   </div> 
   <!--Top Bar End-->
   
   
   <!--Start Header-->
   
   <header class="header">
		<div class="container">
   		
   		
        <div class="row">
        	
            <div class="col-md-3">
            	<a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
            </div>
            
            <div class="col-md-9">
            	
                
                <nav class="menu-2">
            	<ul class="nav wtf-menu">
                	<li class="parent"><a href="#.">Home</a>
					<ul class="submenu">
                        <li> <a href="index.html">Home Page 1</a> </li>
                        <li> <a href="index2.html">Home Page 2</a> </li>
                        <li> <a href="index3.html">Home Page 3</a> </li>
					</ul>
					</li>
					
                    <li class="parent"><a href="#.">About Us</a>
					<ul class="submenu">
                        <li> <a href="about-us.html">About Us</a> </li>
                        <li> <a href="about-us2.html">About Us 2</a> </li>
					</ul>
					</li>
					
                    <li class="parent"><a href="#.">Pages</a>
                    	<ul class="submenu">
                        <li> <a href="services.html">Services</a> </li>
                        <li> <a href="services2.html">Services Two</a> </li>
						<li> <a href="appointment.html">Appointment</a> </li>
						<li> <a href="departments.html">Departments</a> </li>
						<li> <a href="patient-and-family.html">Patient and Family</a> </li>
						<li> <a href="team-members.html">Team Members One</a> </li>
						<li> <a href="team-members2.html">Team Members Two</a> </li>
						<li> <a href="research.html">Research</a> </li>
						<li> <a href="tables.html">Pricing tabels</a> </li>
						</ul>
                    </li>
					
                    <li><a href="procedures.html">Procedures</a></li>
					
                    <li class="item-select parent"><a href="#.">Gallery</a>
						
						<ul class="submenu">
                        
						<li class="parent"> <a href="#">Simple Gallery</a> <i class="icon-chevron-small-right"></i> 
                             <ul class="submenu">
                                    <li> <a href="gallery-simple-two.html">Columns Two</a> </li>
                                    <li> <a href="gallery-simple-three.html">Columns Three</a> </li>
                                    <li> <a href="gallery-simple-four.html">Columns Four</a> </li>
                             </ul>	
                        </li>
                        
						<li class="parent"> <a href="#">Nimble Gallery</a> <i class="icon-chevron-small-right"></i> 
                             <ul class="submenu">
                                    <li class="select-menu"> <a href="gallery-nimble-two.html">Columns Two</a> </li>
                                    <li> <a href="gallery-nimble-three.html">Columns Three</a> </li>
                                    <li> <a href="gallery-nimble-four.html">Columns Four</a> </li>
                             </ul>	
                        </li>
						
						</ul>
						
					</li>
                    
					<li class="parent"><a href="#.">News</a>
					<ul class="submenu">
                        <li> <a href="news-sidebar.html">Sidebar</a> </li>
                        <li> <a href="news-text.html">Text-Based</a> </li>
						<li> <a href="news-single.html">Single Post</a> </li>
						<li> <a href="news-double.html">Double Post</a> </li>
						<li> <a href="news-masonary.html">Masonary</a> </li>
					</ul>
					</li>
					
                    <li><a href="shop.html">Shop</a></li>
                    
					<li class="parent"><a href="#.">Contact Us</a>
					<ul class="submenu">
                        <li> <a href="contact-us.html">Contact-Us One</a> </li>
                        <li> <a href="contact-us2.html">Contact-Us Two</a> </li>
					</ul>
					</li>
					
                </ul>
                </nav>
                	
            </div>
            
        </div>
        
        
		</div>	
   </header>
   
   <!--End Header-->
	
	
	<!-- Mobile Menu Start -->
	<div class="container">
    <div id="page">
			<header class="header">
				<a href="#menu"></a>
				
			</header>
			
			<nav id="menu">
				<ul>
					<li><a href="#.">Home</a>
                    	<ul>
							<li> <a href="index.html">Home Page 1</a> </li>
							<li> <a href="index2.html">Home Page 2</a> </li>
							<li> <a href="index3.html">Home Page 3</a> </li>
                        </ul>
                    </li>
					<li><a href="#.">About us</a>
                    	<ul>
                        	<li> <a href="about-us.html">About Us</a> </li>
							<li> <a href="about-us2.html">About Us 2</a> </li>
                        </ul>
                    </li>
                    <li><a href="#.">Pages</a>
                    	<ul>
                        	<li> <a href="services.html">Services</a> </li>
							<li> <a href="services2.html">Services Two</a> </li>
							<li> <a href="appointment.html">Appointment</a> </li>
							<li> <a href="departments.html">Departments</a> </li>
							<li> <a href="patient-and-family.html">Patient and Family</a> </li>
							<li> <a href="team-members.html">Team Members One</a> </li>
							<li> <a href="team-members2.html">Team Members Two</a> </li>
							<li> <a href="research.html">Research</a> </li>
							<li> <a href="tables.html">Pricing tabels</a> </li>
                        </ul>
                    </li>
                    
                    <li><a href="procedures.html">Procedures</a></li>
					
					<li class="select"><a href="#.">Gallery</a>
                    	
						<ul>
                        	<li><a href="#.">Simple Gallery</a>
                            	<ul>
                                	<li> <a href="gallery-simple-two.html">Columns Two</a> </li>
                                    <li> <a href="gallery-simple-three.html">Columns Three</a> </li>
                                    <li> <a href="gallery-simple-four.html">Columns Four</a> </li>
                                </ul>
                            </li>
							
							<li class="select"><a href="#.">Nimble Gallery</a>
                            	<ul>
                                	<li class="select"> <a href="gallery-nimble-two.html">Columns Two</a> </li>
                                    <li> <a href="gallery-nimble-three.html">Columns Three</a> </li>
                                    <li> <a href="gallery-nimble-four.html">Columns Four</a> </li>
                                </ul>
                            </li>
                        </ul>
						
                    </li>
                    
                    
                    <li><a href="#.">News Posts</a>
                    	<ul>
                        	<li> <a href="news-sidebar.html">Sidebar</a> </li>
							<li> <a href="news-text.html">Text-Based</a> </li>
							<li> <a href="news-single.html">Single Post</a> </li>
							<li> <a href="news-double.html">Double Post</a> </li>
							<li> <a href="news-masonary.html">Masonary</a> </li>
                        </ul>
                    </li>
                    
					<li><a href="shop.html">Shop</a></li>
					
					<li><a href="#.">Contact Us</a>
                    	<ul>
                        	<li> <a href="contact-us.html">Contact-Us One</a> </li>
							<li> <a href="contact-us2.html">Contact-Us Two</a> </li>
                        </ul>
                    </li>
					
				</ul>
                
                
			</nav>
		</div>
		</div>
    <!-- Mobile Menu End -->


	
   <!--Start Banner-->
   
   <div class="sub-banner">
   
   	<img class="banner-img" src="images/sub-banner.jpg" alt="">
    <div class="detail">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12">
                	
                    <div class="paging">
                		<h2>Gallery</h2>
						<ul>
						<li><a href="index.html">Home</a></li>
						<li><a>Gallery</a></li>
						</ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
   
   </div>	
   
   <!--End Banner-->
   
   
   
   <!--Start Content-->
   <div class="content">
   
   <div class="gallery">
   <!--Start Team Detail-->
		<div class="cbp-panel" style="max-width:1170px;">

        <div id="filters-container" class="cbp-l-filters-list ">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item cbp-l-filters-list-first">All Departments </div>
            <div data-filter=".technology" class="cbp-filter-item">Advanced Technology</div>
            <div data-filter=".facilities" class="cbp-filter-item">Free Facilities</div>
            <div data-filter=".dental" class="cbp-filter-item">Medical Dental</div>
            <div data-filter=".kids" class="cbp-filter-item cbp-l-filters-list-last">Kids Care</div>
        </div>

        <div id="grid-container2" class="cbp main-gallery">
           
			
			
			<div class="cbp-item technology facilities motion">
					
                <a class="gallery-sec fancybox photo-icon" href="images/gallery/img1.jpg" data-fancybox-group="gallery">		
					<div class="image-hover img-layer-slide-left-right">
					<img src="images/gallery/img1.jpg" alt="">
					<div class="layer"> <i class="icon-image2"></i> </div>
					</div>
					
					<div class="detail">
						<h6>Operation Theater</h6>
						<span>Cras porttitor mauris pulvinar Quisque in nulla</span>
					</div>
				</a>

			</div>
			
			
			
			<div class="cbp-item kids motion">
					
                <a class="gallery-sec fancybox-media video-icon" href="http://vimeo.com/36031564">
					<div class="image-hover img-layer-slide-left-right">
					<img src="images/gallery/img2.jpg" alt="">
					<div class="layer"> <i class="icon-video2"></i> </div>
					</div>
					
					<div class="detail">
						<h6>Kids Treatment</h6>
						<span>Cras porttitor mauris pulvinar Quisque in nulla</span>
					</div>
				</a>

			</div>
			
			
			
			<div class="cbp-item dental motion">
					
                <a class="gallery-sec fancybox-media video-icon" href="http://vimeo.com/36031564">		
					<div class="image-hover img-layer-slide-left-right">
					<img src="images/gallery/img3.jpg" alt="">
					<div class="layer"> <i class="icon-video2"></i> </div>
					</div>
					
					<div class="detail">
						<h6>Medical Record </h6>
						<span>Cras porttitor mauris pulvinar Quisque in nulla</span>
					</div>
				</a>

			</div>
			
			
			<div class="cbp-item dental motion">
					
                <a class="gallery-sec fancybox photo-icon" href="images/gallery/img4.jpg" data-fancybox-group="gallery" >		
					<div class="image-hover img-layer-slide-left-right">
					<img src="images/gallery/img4.jpg" alt="">
					<div class="layer"> <i class="icon-image2"></i> </div>
					</div>
					
					<div class="detail">
						<h6>Dental Treatment</h6>
						<span>Cras porttitor mauris pulvinar Quisque in nulla</span>
					</div>
				</a>

			</div>
			
			
			
			<div class="cbp-item technology facilities motion">
					
                <a class="gallery-sec fancybox-media video-icon" href="http://vimeo.com/36031564">		
					<div class="image-hover img-layer-slide-left-right">
					<img src="images/gallery/img5.jpg" alt="">
					<div class="layer"> <i class="icon-video2"></i> </div>
					</div>
					
					<div class="detail">
						<h6>Advanced Lab</h6>
						<span>Cras porttitor mauris pulvinar Quisque in nulla</span>
					</div>
				</a>

			</div>
			
			
			
			<div class="cbp-item facilities motion">
					
               <a class="gallery-sec fancybox photo-icon" href="images/gallery/img6.jpg" data-fancybox-group="gallery">		
					<div class="image-hover img-layer-slide-left-right">
					<img src="images/gallery/img6.jpg" alt="">
					<div class="layer"> <i class="icon-image2"></i> </div>
					</div>
					
					<div class="detail">
						<h6>Skin Counseling</h6>
						<span>Cras porttitor mauris pulvinar Quisque in nulla</span>
					</div>
				</a>

			</div>
			
			
			
			<div class="cbp-item technology facilities motion">
					
                <a class="gallery-sec fancybox photo-icon" href="images/gallery/img7.jpg" data-fancybox-group="gallery" >		
					<div class="image-hover img-layer-slide-left-right">
					<img src="images/gallery/img7.jpg" alt="">
					<div class="layer"> <i class="icon-image2"></i> </div>
					</div>
					
					<div class="detail">
						<h6>Well Trained Staff</h6>
						<span>Cras porttitor mauris pulvinar Quisque in nulla</span>
					</div>
				</a>

			</div>
			
			
			
			<div class="cbp-item facilities kids motion">
					
                <a class="gallery-sec fancybox-media video-icon" href="http://vimeo.com/36031564">		
					<div class="image-hover img-layer-slide-left-right">
					<img src="images/gallery/img8.jpg" alt="">
					<div class="layer"> <i class="icon-video2"></i> </div>
					</div>
					
					<div class="detail">
						<h6>Health Counseling</h6>
						<span>Cras porttitor mauris pulvinar Quisque in nulla</span>
					</div>
				</a>

			</div>
		
			
            
        </div>

    </div>
   <!--End Team Detail-->
   
   </div>
   </div>
   <!--End Content-->
   
   
   
   
   <!--Start Footer-->
   <footer class="footer" id="footer">
   		<div class="container">
        	<div class="row">
            	<div class="col-md-12">
                	<div class="emergency">
                    	<i class="icon-phone5"></i>
                        <span class="text">For emergency cases</span>
                        <span class="number">1-300-400-8211</span>
                        <img src="images/emergency-divider.png" alt="">
                    </div>
                </div>
            </div>
            
            
            <div class="main-footer">
            	<div class="row">
                	
                    <div class="col-md-3">
                    	
                        <div class="useful-links">
                        	<div class="title">
                            	<h5>Medical guide</h5>
                            </div>
                            
                            <div class="detail">
                            	<ul>
                                	
                                	<li><a href="#.">Home</a></li>
                                    <li><a href="#.">About Us</a></li>
                                    <li><a href="#.">Services</a></li>
                                    <li><a href="#.">Departments</a></li>
                                    <li><a href="#.">Timetable</a></li>
                                    <li><a href="#.">Why Us</a></li>
                                    <li><a href="#.">Specilaties</a></li>
                                    <li><a href="#.">Contact Us</a></li>
                                    <li><a href="#.">Events</a></li>
                                    
                                </ul>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="col-md-3">
                    	
                        
                        	<div class="title">
                            	<h5>LATEST TWEETS</h5>
                            </div>
                            
                            <div class="detail">
                            	
                                <div class="tweets">
                                	
                                    <div class="icon">
                                    	<i class="icon-yen"></i>
                                    </div>
                                    
                                    <div class="text">
                                    	<p><a href="#.">@Rotography</a> Please kindly use Support Forum: <a href="#.">Medical.co.uk</a></p>
                                        <span>3 days ago</span>
                                    </div>
                                    
                                </div>
                                
                                <div class="tweets">
                                	
                                    <div class="icon">
                                    	<i class="icon-yen"></i>
                                    </div>
                                    
                                    <div class="text">
                                    	<p>A quick launcher for WordPress dashboard <a href="#.">@Medical</a></p>
                                        <span>about a week ago</span>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        
                        
                    </div>
                    <div class="col-md-3">
                    	
                        <div class="newsletter">
                        	<div class="title">
                            	<h5>NEWSLETTER</h5>
                            </div>
                            
                            <div class="detail">
                            	
                                    <div class="signup-text">
                                    	<i class="icon-dollar"></i>
                                		<span>Sign up with your name and email to get updates fresh updates.</span>
                                    </div>
                                    
                                    <div class="form">
                                    <p class="subscribe_success" id="subscribe_success" style="display:none;"></p>
                                    <p class="subscribe_error" id="subscribe_error" style="display:none;"></p>
                                    
                                    <form name="subscribe_form" id="subscribe_form" method="post" action="#" onSubmit="return false">
                                    	<input type="text" data-delay="300" placeholder="Your Name" name="subscribe_name" id="subscribe_name" onKeyPress="removeChecks();" class="input" >
                                    	<input type="text" data-delay="300" placeholder="Email Address" name="subscribe_email" id="subscribe_email" onKeyPress="removeChecks();" class="input" >
                                        <input name="Subscribe" type="submit" value="Subscribe" onClick="validateSubscription();">
                                    </form>
                                    </div>
                                    
                                </div>
                            
                            
                        </div>
                        
                    </div>
                    <div class="col-md-3">
                    	
                        <div class="get-touch">
                        	<div class="title">
                            	<h5>GET IN TOUCH</h5>
                            </div>
                            
                            <div class="detail">
                            	<div class="get-touch">
                                	
                                    
                                    <span class="text">Medical Bibendum auctor, to consequat ipsum, nec sagittis sem</span>
                                    
                                    
                                    <ul>
                                    	<li><i class="icon-location"></i> <span>Medical Ltd, Manhattan 1258, New York, USA Lahore</span></li>
                                        <li><i class="icon-phone4"></i> <span>(+1) 234 567 8901</span></li>
                                        <li><a href="#."><i class="icon-dollar"></i> <span>hello@medical-guide.com</span></a></li>
                                    </ul> 
                                    
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
        <div class="footer-bottom">
        	<div class="container">
            	<div class="row">
                	
                    <div class="col-md-6">
                    	<span class="copyrights">Copyright &copy; 2015 Medical Guide. All right reserved.</span>
                    </div>
                    
                    <div class="col-md-6">
                    	<div class="social-icons">
                        	<a href="#." class="fb"><i class="icon-euro"></i></a>
                            <a href="#." class="tw"><i class="icon-yen"></i></a>
                            <a href="#." class="gp"><i class="icon-google-plus"></i></a>
                            <a href="#." class="vimeo"><i class="icon-vimeo4"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            
        </div>
        
   </footer>
   <!--End Footer-->




  </div>


	
<script type="text/javascript" src="js/jquery.js"></script>

<!-- SMOOTH SCROLL -->	
<script type="text/javascript" src="js/scroll-desktop.js"></script>
<script type="text/javascript" src="js/scroll-desktop-smooth.js"></script>

<!-- START REVOLUTION SLIDER -->	
<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>



<!-- Date Picker and input hover -->
<script type="text/javascript" src="js/classie.js"></script> 
<script type="text/javascript" src="js/jquery-ui-1.10.3.custom.js"></script>

<!-- Date Picker and input hover -->
<script type="text/javascript" src="js/jquery.fancybox.js"></script> 
<script type="text/javascript" src="js/jquery.fancybox-media.js"></script>


<!-- Welcome Tabs -->	
<script type="text/javascript" src="js/tabs.js"></script>

<!-- Gallery Portfolio -->	
<script type="text/javascript" src="js/jquery.cubeportfolio.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>


<!-- All Carousel -->
<script type="text/javascript" src="js/owl.carousel.js"></script>

<!-- Mobile Menu -->
<script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>


<!-- All Scripts -->
<script type="text/javascript" src="js/custom.js"></script>

<script>
	<!-- Fancybox -->	
/*
             *  Simple image gallery. Uses default settings
             */
    
            $('.fancybox').fancybox();
    
            /*
             *  Different effects
             */
    
            $(document).ready(function() {
			$('.fancybox-media').fancybox({
				openEffect  : 'none',
				closeEffect : 'none',
				helpers : {
					media : {}
				}
			});
			});
</script>


  </body>
</html>