<!DOCTYPE html>
<html>
  <head>
    <title>Medical Guide</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link rel="icon" type="image/png" href="images/favicon-medical.png">
	
    <!--main file-->
	<link href="css/medical-guide.css" rel="stylesheet" type="text/css">
    
    <!--Medical Guide Icons-->
	<link href="fonts/medical-guide-icons.css" rel="stylesheet" type="text/css">

    <!-- Default Color-->
	<link href="css/default-color.css" rel="stylesheet" id="color"  type="text/css">

    <!--bootstrap-->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    
    <!--Dropmenu-->
	<link href="css/dropmenu.css" rel="stylesheet" type="text/css">
    
	<!--Sticky Header-->
	<link href="css/sticky-header.css" rel="stylesheet" type="text/css">
	
	<!--revolution-->
	<link href="css/style.css" rel="stylesheet" type="text/css">    
    <link href="css/settings.css" rel="stylesheet" type="text/css">    
    <link href="css/extralayers.css" rel="stylesheet" type="text/css">    
   
    <!--Accordion-->
    <link href="css/accordion.css" rel="stylesheet" type="text/css">
     
    <!--tabs-->
	<link href="css/tabs.css" rel="stylesheet" type="text/css">    
   
    <!--Owl Carousel-->
	<link href="css/owl.carousel.css" rel="stylesheet" type="text/css">    
    
   <!-- Mobile Menu -->
	<link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" />
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
   
   <!--PreLoader-->
	<link href="css/loader.css" rel="stylesheet" type="text/css">
   
  </head>
  <body>
    
  <div id="wrap">
   
   <!--Start PreLoader-->
   <div id="preloader">
		<div id="status">&nbsp;</div>
		<div class="loader">
			<h1>Loading...</h1>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!--End PreLoader-->
   
   
   
	
   <!--Start Header-->
   
   <div id="header-2">
   
   <header class="header header2">
		<div class="container">
   		
   		
        <div class="row">
        	
            <div class="col-md-3">
            	<a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
            </div>
            
            <div class="col-md-9">
            	
                
                <nav class="menu-2">
            	<ul class="nav wtf-menu">
                	<li class="item-select parent"><a href="#.">Home</a>
					<ul class="submenu">
                        <li> <a href="index.html">Home Page 1</a> </li>
                        <li class="select-menu"> <a href="index2.html">Home Page 2</a> </li>
                        <li> <a href="index3.html">Home Page 3</a> </li>
						<li> <a href="index4.html">Home Page 4</a> </li>
					</ul>
					</li>
					
                    <li class="parent"><a href="#.">About Us</a>
					<ul class="submenu">
                        <li> <a href="about-us.html">About Us</a> </li>
                        <li> <a href="about-us2.html">About Us 2</a> </li>
					</ul>
					</li>
					
                    <li class="parent"><a href="#.">Pages</a>
                    	<ul class="submenu">
                        <li> <a href="services.html">Services</a> </li>
                        <li> <a href="services2.html">Services Two</a> </li>
						<li> <a href="appointment.html">Appointment</a> </li>
						<li> <a href="departments.html">Departments</a> </li>
						<li> <a href="patient-and-family.html">Patient and Family</a> </li>
						<li> <a href="team-members.html">Team Members One</a> </li>
						<li> <a href="team-members2.html">Team Members Two</a> </li>
						<li> <a href="research.html">Research</a> </li>
						<li> <a href="tables.html">Pricing tabels</a> </li>
						</ul>
                    </li>
					
                    <li><a href="procedures.html">Procedures</a></li>
					
                    <li class="parent"><a href="#.">Gallery</a>
						
						<ul class="submenu">
                        
						<li class="parent"> <a href="#">Simple Gallery</a> <i class="icon-chevron-small-right"></i> 
                             <ul class="submenu">
                                    <li> <a href="gallery-simple-two.html">Columns Two</a> </li>
                                    <li> <a href="gallery-simple-three.html">Columns Three</a> </li>
                                    <li> <a href="gallery-simple-four.html">Columns Four</a> </li>
                             </ul>	
                        </li>
                        
						<li class="parent"> <a href="#">Nimble Gallery</a> <i class="icon-chevron-small-right"></i> 
                             <ul class="submenu">
                                    <li> <a href="gallery-nimble-two.html">Columns Two</a> </li>
                                    <li> <a href="gallery-nimble-three.html">Columns Three</a> </li>
                                    <li> <a href="gallery-nimble-four.html">Columns Four</a> </li>
                             </ul>	
                        </li>
						
						</ul>
						
					</li>
                    
					<li class="parent"><a href="#.">News</a>
					<ul class="submenu">
                        <li> <a href="news-sidebar.html">Sidebar</a> </li>
                        <li> <a href="news-text.html">Text-Based</a> </li>
						<li> <a href="news-single.html">Single Post</a> </li>
						<li> <a href="news-double.html">Double Post</a> </li>
						<li> <a href="news-masonary.html">Masonary</a> </li>
					</ul>
					</li>
					
                    <li><a href="shop.html">Shop</a></li>
                    
					<li class="parent"><a href="#.">Contact Us</a>
					<ul class="submenu">
                        <li> <a href="contact-us.html">Contact-Us One</a> </li>
                        <li> <a href="contact-us2.html">Contact-Us Two</a> </li>
					</ul>
					</li>
					
                </ul>
                </nav>
                	
            </div>
            
        </div>
        
        
		</div>	
    </header>
	</div>
	
   <!--End Header-->
   
   
   
	<!-- Mobile Menu Start -->
	<div class="container">
    <div id="page">
			<header class="header">
				<a href="#menu"></a>
				
			</header>
			
			<nav id="menu">
				<ul>
					<li class="select"><a href="#.">Home</a>
                    	<ul>
							<li> <a href="index.html">Home Page 1</a> </li>
							<li class="select"> <a href="index2.html">Home Page 2</a> </li>
							<li> <a href="index3.html">Home Page 3</a> </li>
							<li> <a href="index4.html">Home Page 4</a> </li>
                        </ul>
                    </li>
					<li><a href="#.">About us</a>
                    	<ul>
                        	<li> <a href="about-us.html">About Us</a> </li>
							<li> <a href="about-us2.html">About Us 2</a> </li>
                        </ul>
                    </li>
                    <li><a href="#.">Pages</a>
                    	<ul>
                        	<li> <a href="services.html">Services</a> </li>
							<li> <a href="services2.html">Services Two</a> </li>
							<li> <a href="appointment.html">Appointment</a> </li>
							<li> <a href="departments.html">Departments</a> </li>
							<li> <a href="patient-and-family.html">Patient and Family</a> </li>
							<li> <a href="team-members.html">Team Members One</a> </li>
							<li> <a href="team-members2.html">Team Members Two</a> </li>
							<li> <a href="research.html">Research</a> </li>
							<li> <a href="tables.html">Pricing tabels</a> </li>
                        </ul>
                    </li>
                    
                    <li><a href="procedures.html">Procedures</a></li>
					
					<li><a href="#.">Gallery</a>
                    	
						<ul>
                        	<li><a href="#.">Simple Gallery</a>
                            	<ul>
                                	<li> <a href="gallery-simple-two.html">Columns Two</a> </li>
                                    <li> <a href="gallery-simple-three.html">Columns Three</a> </li>
                                    <li> <a href="gallery-simple-four.html">Columns Four</a> </li>
                                </ul>
                            </li>
							
							<li><a href="#.">Nimble Gallery</a>
                            	<ul>
                                	<li> <a href="gallery-nimble-two.html">Columns Two</a> </li>
                                    <li> <a href="gallery-nimble-three.html">Columns Three</a> </li>
                                    <li> <a href="gallery-nimble-four.html">Columns Four</a> </li>
                                </ul>
                            </li>
                        </ul>
						
                    </li>
                    
                    
                    <li><a href="#.">News Posts</a>
                    	<ul>
                        	<li> <a href="news-sidebar.html">Sidebar</a> </li>
							<li> <a href="news-text.html">Text-Based</a> </li>
							<li> <a href="news-single.html">Single Post</a> </li>
							<li> <a href="news-double.html">Double Post</a> </li>
							<li> <a href="news-masonary.html">Masonary</a> </li>
                        </ul>
                    </li>
                    
					<li><a href="shop.html">Shop</a></li>
					
					<li><a href="#.">Contact Us</a>
                    	<ul>
                        	<li> <a href="contact-us.html">Contact-Us One</a> </li>
							<li> <a href="contact-us2.html">Contact-Us Two</a> </li>
                        </ul>
                    </li>
					
				</ul>
                
                
			</nav>
		</div>
		</div>
    <!-- Mobile Menu End -->
	
	
	
	
<div class="container">
<div class="time-table-sec">
<ul id="accordion2" class="accordion2">
<li>
<ul class="submenu time-table">
<li class="tit"><h5>Working Time</h5></li>
<li><span class="day">Monday - Friday</span> <span class="divider">-</span> <span class="time">8.00 - 16.00</span></li>
<li><span class="day">Saturday</span> <span class="divider">-</span> <span class="time">9.15 - 17.00</span></li>
<li><span class="day">Sunday</span> <span class="divider">-</span> <span class="time">9.45 - 15.00</span></li>
</ul>
<div class="link"><img class="time-tab" src="images/timetable-menu.png" alt=""></div>

</li>
</ul>
</div>
</div>

    
	
   <!--Start Banner-->
   
   <div class="tp-banner-container">
		<div class="tp-banner" >
			<ul>	<!-- SLIDE  -->
            
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="Intro Slide">
		<!-- MAIN IMAGE -->
		<img src="images/slides/banner-img4.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->

		

		
		
		<div class="tp-caption black_thin_34 customin tp-resizeme rs-parallaxlevel-0"
			data-x="center"
			data-y="250" 
			data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
			data-speed="500"
			data-start="1400"
			data-easing="Back.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 10; max-width: auto; max-height: auto; font-size: 52px; white-space: nowrap;">BETTER TECHNOLOGY FOR
		</div>
		
		
		<div class="tp-caption black_thin_34 black_thin_34_bold customin tp-resizeme rs-parallaxlevel-0"
			data-x="center"
			data-y="340" 
			data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
			data-speed="500"
			data-start="1400"
			data-easing="Back.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap; font-size: 52px;">BETTER HEALTHCARE
		</div>
		
		

		

		
	</li>
	
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="Intro Slide">
		<!-- MAIN IMAGE -->
		<img src="images/slides/banner-img5.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->

		

		
		
		<div class="tp-caption black_thin_34 customin tp-resizeme rs-parallaxlevel-0"
			data-x="0"
			data-y="250" 
			data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
			data-speed="500"
			data-start="1400"
			data-easing="Back.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap; font-size: 52px;">Medical guide
		</div>
		
		
		<div class="tp-caption black_thin_34 black_thin_34_bold customin tp-resizeme rs-parallaxlevel-0"
			data-x="0"
			data-y="340" 
			data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
			data-speed="500"
			data-start="1400"
			data-easing="Back.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap; font-size: 52px;">That You Can Trust
		</div>
		
		

		

		
	</li>
    
    <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on"  data-title="Intro Slide">
		<!-- MAIN IMAGE -->
		<img src="images/slides/banner-img6.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->

		

		
		
		<div class="tp-caption black_thin_34 customin tp-resizeme rs-parallaxlevel-0"
			data-x="right"
			data-y="250" 
			data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
			data-speed="500"
			data-start="1400"
			data-easing="Back.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap; font-size: 52px;">Medical guide
		</div>
		
		
		<div class="tp-caption black_thin_34 black_thin_34_bold customin tp-resizeme rs-parallaxlevel-0"
			data-x="right"
			data-y="340" 
			data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
			data-speed="500"
			data-start="1400"
			data-easing="Back.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap; font-size: 52px;">That You Can Trust
		</div>
		
		

		

		
	</li>
    
    <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="Intro Slide">
		<!-- MAIN IMAGE -->
		<img src="images/slides/banner-img7.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->

		

		
		
		<div class="tp-caption black_thin_34 customin tp-resizeme rs-parallaxlevel-0"
			data-x="center"
			data-y="250" 
			data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
			data-speed="500"
			data-start="1400"
			data-easing="Back.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap; font-size: 52px;">Medical and Health
		</div>
		
		
		<div class="tp-caption black_thin_34 black_thin_34_bold customin tp-resizeme rs-parallaxlevel-0"
			data-x="center"
			data-y="340" 
			data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
			data-speed="500"
			data-start="1400"
			data-easing="Back.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap; font-size: 52px;">html template
		</div>
		
		

		

		
	</li>
	
    
    
</ul>
<div class="tp-bannertimer"></div>	</div>
</div>	
   
   <!--End Banner-->
   
   
   <!--Start Content-->
   <div class="content">
   
   <!--Start Services-->
   <div class="services-two">
        	<div class="container">
            	<div class="row">
                	
                  <div class="col-md-6">
                    	
                        <div class="service-sec">
                        	
                            <div class="icon">
                            	<i class="icon-tooth"></i>
                            </div>
                            
                            <div class="detail">
                            	<h5>Dental Care</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                            
                        </div>
                        <div class="service-sec">
                        	
                            <div class="icon">
                            	<i class="icon-patient-bed"></i>
                            </div>
                            
                            <div class="detail">
                            	<h5>Operation Theater</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                            
                        </div>
                        <div class="service-sec">
                        	
                            <div class="icon">
                            	<i class="icon-doctor"></i>
                            </div>
                            
                            <div class="detail">
                            	<h5>Qualified Doctors</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                            
                        </div>
                        
                    </div>  
                    
                    
                    
                    <div class="col-md-6">
                    
                    	<div id="demo">
        
          
            <div class="span12">
              <div id="services-slide" class="owl-carousel">

                <div class="item"><img src="images/service-two-img1.jpg" alt=""></div>
                <div class="item"><img src="images/service-two-img2.jpg" alt=""></div>
                <div class="item"><img src="images/service-two-img3.jpg" alt=""></div>

              </div>
            </div>
          
        
    </div>
                    
                    </div>
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
   <!--End Services-->
   
   
   <!--Start Services Three-->
   <div class="services-three">
    	<div class="serv-sec">
        	<h3>Our Dedication</h3>
            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
            <a href="about-us.html">learn more</a>
        </div>
        
        <div class="serv-sec serv-sec2">
        	<h3>Shop Medicine</h3>
            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
            <a href="shop.html">Purchase now</a>
        </div>
        
        <div class="serv-sec serv-sec3">
        	<h3>Our Passion</h3>
            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
            <a href="about-us2.html">learn more</a>
        </div>
        
        
   </div>
   <div class="clear"></div>
   <!--End Services Three-->
   
   <!--Start Welcome-->
    <div class="welcome-two dark-back">
    	<div class="container">
        	
            <div class="row">
            <div class="col-md-12">
                <div class="main-title">
                    <h2><span>Welcome to</span> Medical Guide</h2>
                    <p>If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing elit. Ut volutpat eros  adipiscing nonummy.</p>
                </div>
            </div>
            </div>
            
            <div class="welcome-detail">
            	<div class="row">
                	
                    <div class="col-md-5">
                    	<img src="images/welcome-img.jpg" alt="">
                    </div>
                    
                    <div class="col-md-7">
                    	<div class="detail">
                        	
                            <p>Lorem ipsum dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/><br/>
                            Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur  eiusmod ut labore et aliqua <span>some of our following Departments.</span></p>
                            <ul>
                            	<li><span>Neurology</span></li>
                                <li><span>Traumatology</span></li>
                                <li><span>Cardiology</span></li>
                                <li><span>Births</span></li>
                                <li><span>Medical Dental</span></li>
                                <li><span>Pregnancy</span></li>
                                <li><span>For Disabled</span></li>
                                <li><span>X-Ray</span></li>
                            </ul>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
   <!--End Welcome-->
   
   
   
   <!--Start Services Four-->
   <div class="services-four">
   		<div class="container">
        	
            <div class="row">
	        <div class="col-md-12">
            <div class="main-title">
                <h2><span>Special</span> Services</h2>
                <p>If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing elit. Ut volutpat eros  adipiscing nonummy.</p>
            </div>
            </div>
            </div>
            
            <div class="row">
            	
                <div class="col-md-4">
                	<div class="services-sec">
                    	
                    	<div class="icon">
                        	<i class="icon-ambulanc"></i>
                        </div>
                        <div class="detail">
                        	<h6>Emergency Services</h6>
                            <p>Lorem ipsum dolor sit amet, adipiscing elit. Donec nec eros eget nisl fringilla graph commodo.</p>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-4">
                	<div class="services-sec">
                    	
                    	<div class="icon">
                        	<i class="icon-heart10"></i>
                        </div>
                        <div class="detail">
                        	<h6>Heart Problems</h6>
                            <p>Lorem ipsum dolor sit amet, adipiscing elit. Donec nec eros eget nisl fringilla graph commodo.</p>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-4">
                	<div class="services-sec">
                    	
                    	<div class="icon">
                        	<i class="icon-kidney2"></i>
                        </div>
                        <div class="detail">
                        	<h6>Kidney problems</h6>
                            <p>Lorem ipsum dolor sit amet, adipiscing elit. Donec nec eros eget nisl fringilla graph commodo.</p>
                        </div>
                        
                    </div>
                </div>
                
                <div class="bottom-serv">
                
                <div class="col-md-4">
                	<div class="services-sec">
                    	
                    	<div class="icon">
                        	<i class="icon-patientbed"></i>
                        </div>
                        <div class="detail">
                        	<h6>Patient Services</h6>
                            <p>Lorem ipsum dolor sit amet, adipiscing elit. Donec nec eros eget nisl fringilla graph commodo.</p>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-4">
                	<div class="services-sec">
                    	
                    	<div class="icon">
                        	<i class="icon-ecg-line"></i>
                        </div>
                        <div class="detail">
                        	<h6>ECG Line </h6>
                            <p>Lorem ipsum dolor sit amet, adipiscing elit. Donec nec eros eget nisl fringilla graph commodo.</p>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-4">
                	<div class="services-sec">
                    	
                    	<div class="icon">
                        	<i class="icon-stomach"></i>
                        </div>
                        <div class="detail">
                        	<h6>Stomach Problems</h6>
                            <p>Lorem ipsum dolor sit amet, adipiscing elit. Donec nec eros eget nisl fringilla graph commodo.</p>
                        </div>
                        
                    </div>
                </div>
                
                </div>
                
            </div>
            
            
        </div>
   </div>
   <!--End Services Four-->
   
   
   
   <!--Start Latest News-->
   <div class="latest-news dark-back">
   		<div class="container">
        	
            <div class="row">
	        <div class="col-md-12">
            <div class="main-title">
                <h2><span>Latest News from</span> Medical guide</h2>
                <p>If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing elit. Ut volutpat eros  adipiscing nonummy.</p>
            </div>
            </div>
            </div>
            
           
           
           
            <div id="latest-news">
        <div class="container">
          <div class="row">
            <div class="span12">

              <div id="owl-demo" class="owl-carousel">

                <div class="post item">
                    	<img class="lazyOwl" src="images/news-img1.jpg" alt="">
                        <div class="detail">
                        	<img src="images/news-dr1.jpg" alt="">
                            <h4><a href="news-detail.html">Center for Medical</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eros...</p>
                            <span><i class="icon-clock3"></i> Apr 22, 2016</span>
                            <span class="comment"><a href="news-detail.html"><i class="icon-icons206"></i> 5 Comments</a></span>
                        </div>
                    </div>
                <div class="post item">
                    <img class="lazyOwl" src="images/news-img2.jpg" alt="">
                    <div class="detail">
                        <img src="images/news-dr2.jpg" alt="">
                        <h4><a href="news-detail.html">Laboratory Tests</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eros...</p>
                        <span><i class="icon-clock3"></i> Apr 09, 2016</span>
                        <span class="comment"><a href="news-detail.html"><i class="icon-icons206"></i> 3 Comments</a></span>
                    </div>
                </div>
                
                <div class="post item">
                    <img class="lazyOwl" src="images/news-img3.jpg" alt="">
                    <div class="detail">
                        <img src="images/news-dr1.jpg" alt="">
                        <h4><a href="news-detail.html">Research Center</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eros...</p>
                        <span><i class="icon-clock3"></i> Mar 28, 2016</span>
                        <span class="comment"><a href="news-detail.html"><i class="icon-icons206"></i> 0 Comments</a></span>
                    </div>
                </div>
                
                <div class="post item">
                    <img class="lazyOwl" src="images/news-img4.jpg" alt="">
                    <div class="detail">
                        <img src="images/news-dr2.jpg" alt="">
                        <h4><a href="news-detail.html">Child Birth</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eros...</p>
                        <span><i class="icon-clock3"></i> Mar 15, 2016</span>
                        <span class="comment"><a href="news-detail.html"><i class="icon-icons206"></i> 0 Comments</a></span>
                    </div>
                </div>
                
                <div class="post item">
                    <img class="lazyOwl" src="images/news-img5.jpg" alt="">
                    <div class="detail">
                        <img src="images/news-dr2.jpg" alt="">
                        <h4><a href="news-detail.html">Special Treatment</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eros...</p>
                        <span><i class="icon-clock3"></i> Mar 04, 2016</span>
                        <span class="comment"><a href="news-detail.html"><i class="icon-icons206"></i> 11 Comments</a></span>
                    </div>
                </div>    

              </div>

            </div>
          </div>
        </div>

    </div>
    
    
            
        </div>
   </div>
   <!--End Latest News-->
   
   
   <!--Start Fun Facts-->
   	
   <div class="fun-facts counter-iconic" id="counters">
	<div class="row">
		
		<div class="col-md-3">
			<div class="counter">
				<span class="number quantity-counter1 quantity-counter highlight">37</span>
				<span class="what-do">Awards Won</span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="counter">
			<span class="number quantity-counter2 quantity-counter highlight">186</span>
			<span class="what-do">our staff</span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="counter">
			<span class="number quantity-counter3 quantity-counter highlight">25</span>
			<span class="what-do">clinic roome</span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="counter">
			<span class="number quantity-counter4 quantity-counter highlight">355</span>
			<span class="what-do">MACHINES</span>
			</div>
		</div>
		
	</div>
   </div>
   <!--End Fun Facts-->
   
   <!--Start Testimonials-->
   <div class="patients-testi dark-back">
   	<div class="container">
        
        <div class="row">
        <div class="col-md-12">
        <div class="main-title main-title2">
            <h2><span>What Our Patients Say</span> About Us</h2>
        </div>
        </div>
        </div>
        
        <div id="testimonials">
      <div class="container">
        <div class="row">
          
          <div class="col-md-12">
          <div class="span12">

            <div id="owl-demo2" class="owl-carousel">
              
              <div class="testi-sec">
              	<img src="images/testimonial-img1.jpg" alt="">
                <div class="height10"></div>
				<span class="name">Elebana Front</span> 
                <span class="patient">Heart Patient</span>
                <div class="height30"></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna  aliquam erat volutpat. vitae felis pretium, euismod ipsum nec, placerat turpis. Aenean eu gravida arcu, et consectetur  orci Quisque posuere dolor in malesuada fermentum.</p>						  				<div class="height35"></div>
                
              
              </div>
              <div class="testi-sec">
              	<img src="images/testimonial-img2.jpg" alt="">
                <div class="height10"></div>
				<span class="name">Johny Bravo</span> 
                <span class="patient">Hair Patient</span>
                <div class="height30"></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna  aliquam erat volutpat. vitae felis pretium, euismod ipsum nec, placerat turpis. Aenean eu gravida arcu, et consectetur Quisque posuere dolor in malesuada fermentum sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna  aliquam erat volutpat.</p>						  
                
                
              
              </div>
              <div class="testi-sec">
              	<img src="images/testimonial-img3.jpg" alt="">
                <div class="height10"></div>
				<span class="name">Rubica Noi</span> 
                <span class="patient">Skin Patient</span>
                <div class="height30"></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna  aliquam erat volutpat. vitae felis pretium, euismod ipsum nec, placerat turpis. Aenean eu gravida arcu, et consectetur  orci Quisque posuere dolor in malesuada fermentum.</p>						  				<div class="height35"></div>
                
              </div>
        
        
            </div>

          </div>
          </div>
          
        </div>
      </div>
    </div>
    
    </div>
   </div>
   
   
   <!--End Testimonials-->
   
   </div>
   <!--End Content-->
   
   
   
   
   <!--Start Footer-->
   <footer class="footer-light"  id="footer">
   		<div class="container">
        	<div class="row">
            	<div class="col-md-12">
                	<div class="emergency">
                    	<i class="icon-phone5"></i>
                        <span class="text">For emergency cases</span>
                        <span class="number">1-300-400-8211</span>
                        <img src="images/emergency-divider-dark.png" alt="">
                    </div>
                </div>
            </div>
            
            
            <div class="main-footer">
            	<div class="row">
                	
                    <div class="col-md-3">
                    	
                        <div class="useful-links">
                        	<div class="title">
                            	<h5>Medical guide</h5>
                            </div>
                            
                            <div class="detail">
                            	<ul>
                                	
                                	<li><a href="#.">Home</a></li>
                                    <li><a href="#.">About Us</a></li>
                                    <li><a href="#.">Services</a></li>
                                    <li><a href="#.">Departments</a></li>
                                    <li><a href="#.">Timetable</a></li>
                                    <li><a href="#.">Why Us</a></li>
                                    <li><a href="#.">Specilaties</a></li>
                                    <li><a href="#.">Contact Us</a></li>
                                    <li><a href="#.">Events</a></li>
                                    
                                </ul>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="col-md-3">
                    	
							<div class="tweets-sec">
							
                        	<div class="title">
                            	<h5>LATEST TWEETS</h5>
                            </div>
                            
                            <div class="detail">
                            	
                                <div class="tweets">
                                	
                                    <div class="icon">
                                    	<i class="icon-yen"></i>
                                    </div>
                                    
                                    <div class="text">
                                    	<p><a href="#.">@Rotography</a> Please kindly use Support Forum: <a href="#.">Medical.co.uk</a></p>
                                        <span>3 days ago</span>
                                    </div>
                                    
                                </div>
                                
                                <div class="tweets">
                                	
                                    <div class="icon">
                                    	<i class="icon-yen"></i>
                                    </div>
                                    
                                    <div class="text">
                                    	<p>A quick launcher for WordPress dashboard <a href="#.">@Medical</a></p>
                                        <span>about a week ago</span>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
							</div>
                        
                        
                    </div>
                    <div class="col-md-3">
                    	
                        <div class="newsletter">
                        	<div class="title">
                            	<h5>NEWSLETTER</h5>
                            </div>
                            
                            <div class="detail">
                            	
                                    <div class="signup-text">
                                    	<i class="icon-dollar"></i>
                                		<span>Sign up with your name and email to get updates fresh updates.</span>
                                    </div>
                                    
                                    <div class="form">
                                    <p class="subscribe_success" id="subscribe_success" style="display:none;"></p>
                                    <p class="subscribe_error" id="subscribe_error" style="display:none;"></p>
                                    
                                    <form name="subscribe_form" id="subscribe_form" method="post" action="#" onSubmit="return false">
                                    	<input type="text" data-delay="300" placeholder="Your Name" name="subscribe_name" id="subscribe_name" onKeyPress="removeChecks();" class="input" >
                                    	<input type="text" data-delay="300" placeholder="Email Address" name="subscribe_email" id="subscribe_email" onKeyPress="removeChecks();" class="input" >
                                        <input name="Subscribe" type="submit" value="Subscribe" onClick="validateSubscription();">
                                    </form>
                                    </div>
                                    
                                </div>
                            
                            
                        </div>
                        
                    </div>
                    <div class="col-md-3">
                    	
                        <div class="get-touch">
                        	<div class="title">
                            	<h5>GET IN TOUCH</h5>
                            </div>
                            
                            <div class="detail">
                            	<div class="get-touch">
                                	
                                    
                                    <span class="text">Medical Bibendum auctor, to consequat ipsum, nec sagittis sem</span>
                                    
                                    
                                    <ul>
                                    	<li><i class="icon-location"></i> <span>Medical Ltd, Manhattan 1258, New York, USA Lahore</span></li>
                                        <li><i class="icon-phone4"></i> <span>(+1) 234 567 8901</span></li>
                                        <li><a href="#."><i class="icon-dollar"></i> <span>hello@medical-guide.com</span></a></li>
                                    </ul> 
                                    
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
        <div class="footer-bottom">
        	<div class="container">
            	<div class="row">
                	
                    <div class="col-md-6">
                    	<span class="copyrights">Copyright &copy; 2015 Medical Guide. All right reserved.</span>
                    </div>
                    
                    <div class="col-md-6">
                    	<div class="social-icons">
                        	<a href="#." class="fb"><i class="icon-euro"></i></a>
                            <a href="#." class="tw"><i class="icon-yen"></i></a>
                            <a href="#." class="gp"><i class="icon-google-plus"></i></a>
                            <a href="#." class="vimeo"><i class="icon-vimeo4"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <a class="back-to-top" href="#."></a>
            
        </div>
        
   </footer>
   <!--End Footer-->




  </div>

	<a href="#0" class="cd-top"></a>

<script type="text/javascript" src="js/jquery.js"></script>

<!-- SMOOTH SCROLL -->	
<script type="text/javascript" src="js/scroll-desktop.js"></script>
<script type="text/javascript" src="js/scroll-desktop-smooth.js"></script>

<!-- START REVOLUTION SLIDER -->	
<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>



<!-- Date Picker and input hover -->
<script type="text/javascript" src="js/classie.js"></script> 
<script type="text/javascript" src="js/jquery-ui-1.10.3.custom.js"></script>


<!-- Fun Facts Counter -->
<script type="text/javascript" src="js/counter.js"></script> 


<!-- Welcome Tabs -->	
<script type="text/javascript" src="js/tabs.js"></script>

<!-- Mobile Menu -->
<script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>

<!-- All Carousel -->
<script type="text/javascript" src="js/owl.carousel.js"></script>


<!-- All Scripts -->
<script type="text/javascript" src="js/custom.js"></script>


<script type="text/javascript">

				jQuery(document).ready(function() {
				
					
								
					jQuery('.tp-banner').show().revolution(
					{
						dottedOverlay:"none",
						delay:16000,
						startwidth:1170,
						startheight:750,
						hideThumbs:200,
						
						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:5,
						
						navigationType:"bullet",
						navigationArrows:"solo",
						navigationStyle:"preview4",
						
						touchenabled:"on",
						onHoverStop:"off",
						
						swipe_velocity: 0.7,
						swipe_min_touches: 1,
						swipe_max_touches: 1,
						drag_block_vertical: false,
												
												parallax:"mouse",
						parallaxBgFreeze:"on",
						parallaxLevels:[7,4,3,2,5,4,3,2,1,0],
												
						keyboardNavigation:"off",
						
						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,
								
						shadow:0,
						fullWidth:"on",
						fullScreen:"off",

						spinner:"spinner4",
						
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,

						shuffle:"off",
						
						autoHeight:"off",						
						forceFullWidth:"off",						
												
												
												
						hideThumbsOnMobile:"off",
						hideNavDelayOnMobile:1500,						
						hideBulletsOnMobile:"off",
						hideArrowsOnMobile:"off",
						hideThumbsUnderResolution:0,
						
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0,
						videoJsPath:"rs-plugin/videojs/",
						fullScreenOffsetContainer: ""	
					});
					
					
					
									
				});	//ready
				
			</script>
<script src="js/switcher.js"></script>
  </body>
</html>