<!DOCTYPE html>
<html>
  <head>
    <title>Medical Guide</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link rel="icon" type="image/png" href="images/favicon-medical.png">
	
    <!--main file-->
	<link href="css/medical-guide.css" rel="stylesheet" type="text/css">
    
    <!--Medical Guide Icons-->
	<link href="fonts/medical-guide-icons.css" rel="stylesheet" type="text/css">
	
	<!-- Default Color-->
	<link href="css/default-color.css" rel="stylesheet" id="color"  type="text/css">
    
    <!--bootstrap-->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    
    <!--Dropmenu-->
	<link href="css/dropmenu.css" rel="stylesheet" type="text/css">
    
	<!--Sticky Header-->
	<link href="css/sticky-header.css" rel="stylesheet" type="text/css">
	
	<!--revolution-->
	<link href="css/style.css" rel="stylesheet" type="text/css">    
    <link href="css/settings.css" rel="stylesheet" type="text/css">    
    <link href="css/extralayers.css" rel="stylesheet" type="text/css">    
   
    <!--Accordion-->
    <link href="css/accordion.css" rel="stylesheet" type="text/css">
     
    <!--tabs-->
	<link href="css/tabs.css" rel="stylesheet" type="text/css">    
   
    <!--Owl Carousel-->
	<link href="css/owl.carousel.css" rel="stylesheet" type="text/css">    
	
    <!-- Mobile Menu -->
	<link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" />
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	
	<!--PreLoader-->
	<link href="css/loader.css" rel="stylesheet" type="text/css">    
   
</head>
  <body>
    
  <div id="wrap">
   
   <!--Start PreLoader-->
   <div id="preloader">
		<div id="status">&nbsp;</div>
		<div class="loader">
			<h1>Loading...</h1>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!--End PreLoader--> 

 
   <!--Start Header-->
   
   <div id="header-2">
   
   <header class="header header2">
		<div class="container">
   		
   		
        <div class="row">
        	
            <div class="col-md-3">
            	<a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
            </div>
            
            <div class="col-md-9">
            	
                
                <nav class="menu-2">
            	<ul class="nav wtf-menu">
                	<li class="item-select parent"><a href="#.">Home</a>
					<ul class="submenu">
                        <li> <a href="index.html">Home Page 1</a> </li>
                        <li> <a href="index2.html">Home Page 2</a> </li>
                        <li class="select-menu"> <a href="index3.html">Home Page 3</a> </li>
						<li> <a href="index4.html">Home Page 4</a> </li>
					</ul>
					</li>
					
                    <li class="parent"><a href="#.">About Us</a>
					<ul class="submenu">
                        <li> <a href="about-us.html">About Us</a> </li>
                        <li> <a href="about-us2.html">About Us 2</a> </li>
					</ul>
					</li>
					
                    <li class="parent"><a href="#.">Pages</a>
                    	<ul class="submenu">
                        <li> <a href="services.html">Services</a> </li>
                        <li> <a href="services2.html">Services Two</a> </li>
						<li> <a href="appointment.html">Appointment</a> </li>
						<li> <a href="departments.html">Departments</a> </li>
						<li> <a href="patient-and-family.html">Patient and Family</a> </li>
						<li> <a href="team-members.html">Team Members One</a> </li>
						<li> <a href="team-members2.html">Team Members Two</a> </li>
						<li> <a href="research.html">Research</a> </li>
						<li> <a href="tables.html">Pricing tabels</a> </li>
						</ul>
                    </li>
					
                    <li><a href="procedures.html">Procedures</a></li>
					
                    <li class="parent"><a href="#.">Gallery</a>
						
						<ul class="submenu">
                        
						<li class="parent"> <a href="#">Simple Gallery</a> <i class="icon-chevron-small-right"></i> 
                             <ul class="submenu">
                                    <li> <a href="gallery-simple-two.html">Columns Two</a> </li>
                                    <li> <a href="gallery-simple-three.html">Columns Three</a> </li>
                                    <li> <a href="gallery-simple-four.html">Columns Four</a> </li>
                             </ul>	
                        </li>
                        
						<li class="parent"> <a href="#">Nimble Gallery</a> <i class="icon-chevron-small-right"></i> 
                             <ul class="submenu">
                                    <li> <a href="gallery-nimble-two.html">Columns Two</a> </li>
                                    <li> <a href="gallery-nimble-three.html">Columns Three</a> </li>
                                    <li> <a href="gallery-nimble-four.html">Columns Four</a> </li>
                             </ul>	
                        </li>
						
						</ul>
						
					</li>
                    
					<li class="parent"><a href="#.">News</a>
					<ul class="submenu">
                        <li> <a href="news-sidebar.html">Sidebar</a> </li>
                        <li> <a href="news-text.html">Text-Based</a> </li>
						<li> <a href="news-single.html">Single Post</a> </li>
						<li> <a href="news-double.html">Double Post</a> </li>
						<li> <a href="news-masonary.html">Masonary</a> </li>
					</ul>
					</li>
					
                    <li><a href="shop.html">Shop</a></li>
                    
					<li class="parent"><a href="#.">Contact Us</a>
					<ul class="submenu">
                        <li> <a href="contact-us.html">Contact-Us One</a> </li>
                        <li> <a href="contact-us2.html">Contact-Us Two</a> </li>
					</ul>
					</li>
					
                </ul>
                </nav>
                	
            </div>
            
        </div>
        
        
		</div>	
    </header>
	</div>
	
   <!--End Header-->
	
	
	<!-- Mobile Menu Start -->
	<div class="container">
    <div id="page">
			<header class="header">
				<a href="#menu"></a>
				
			</header>
			
			<nav id="menu">
				<ul>
					<li class="select"><a href="#.">Home</a>
                    	<ul>
							<li> <a href="index.html">Home Page 1</a> </li>
							<li> <a href="index2.html">Home Page 2</a> </li>
							<li class="select"> <a href="index3.html">Home Page 3</a> </li>
							<li> <a href="index4.html">Home Page 4</a> </li>
                        </ul>
                    </li>
					<li><a href="#.">About us</a>
                    	<ul>
                        	<li> <a href="about-us.html">About Us</a> </li>
							<li> <a href="about-us2.html">About Us 2</a> </li>
                        </ul>
                    </li>
                    <li><a href="#.">Pages</a>
                    	<ul>
                        	<li> <a href="services.html">Services</a> </li>
							<li> <a href="services2.html">Services Two</a> </li>
							<li> <a href="appointment.html">Appointment</a> </li>
							<li> <a href="departments.html">Departments</a> </li>
							<li> <a href="patient-and-family.html">Patient and Family</a> </li>
							<li> <a href="team-members.html">Team Members One</a> </li>
							<li> <a href="team-members2.html">Team Members Two</a> </li>
							<li> <a href="research.html">Research</a> </li>
							<li> <a href="tables.html">Pricing tabels</a> </li>
                        </ul>
                    </li>
                    
                    <li><a href="procedures.html">Procedures</a></li>
					
					<li><a href="#.">Gallery</a>
                    	
						<ul>
                        	<li><a href="#.">Simple Gallery</a>
                            	<ul>
                                	<li> <a href="gallery-simple-two.html">Columns Two</a> </li>
                                    <li> <a href="gallery-simple-three.html">Columns Three</a> </li>
                                    <li> <a href="gallery-simple-four.html">Columns Four</a> </li>
                                </ul>
                            </li>
							
							<li><a href="#.">Nimble Gallery</a>
                            	<ul>
                                	<li> <a href="gallery-nimble-two.html">Columns Two</a> </li>
                                    <li> <a href="gallery-nimble-three.html">Columns Three</a> </li>
                                    <li> <a href="gallery-nimble-four.html">Columns Four</a> </li>
                                </ul>
                            </li>
                        </ul>
						
                    </li>
                    
                    
                    <li><a href="#.">News Posts</a>
                    	<ul>
                        	<li> <a href="news-sidebar.html">Sidebar</a> </li>
							<li> <a href="news-text.html">Text-Based</a> </li>
							<li> <a href="news-single.html">Single Post</a> </li>
							<li> <a href="news-double.html">Double Post</a> </li>
							<li> <a href="news-masonary.html">Masonary</a> </li>
                        </ul>
                    </li>
                    
					<li><a href="shop.html">Shop</a></li>
					
					<li><a href="#.">Contact Us</a>
                    	<ul>
                        	<li> <a href="contact-us.html">Contact-Us One</a> </li>
							<li> <a href="contact-us2.html">Contact-Us Two</a> </li>
                        </ul>
                    </li>
					
				</ul>
                
                
			</nav>
		</div>
		</div>
    <!-- Mobile Menu End -->
	
	
<div class="container">
<div class="time-table-sec">
<ul id="accordion2" class="accordion2">
<li>
<ul class="submenu time-table">
<li class="tit"><h5>Working Time</h5></li>
<li><span class="day">Monday - Friday</span> <span class="divider">-</span> <span class="time">8.00 - 16.00</span></li>
<li><span class="day">Saturday</span> <span class="divider">-</span> <span class="time">9.15 - 17.00</span></li>
<li><span class="day">Sunday</span> <span class="divider">-</span> <span class="time">9.45 - 15.00</span></li>
</ul>
<div class="link"><img class="time-tab" src="images/timetable-menu.png" alt=""></div>

</li>
</ul>
</div>
</div>

    
	
   <!--Start Banner-->
   
   <div class="tp-banner-container">
		<div class="tp-banner" >
			<ul>	<!-- SLIDE  -->
    
	
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on"  data-title="Intro Slide">
		
		<img src="images/slides/banenr-img1.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		
		<div class="tp-caption lft customout rs-parallaxlevel-0"
			data-x="0"
			data-y="199" 
			data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="700"
			data-start="1100"
			data-easing="Power3.easeInOut"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 4;"><img src="images/heart-icon.png" alt="" >

		</div>

		
		<div class="tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-0"
			data-x="0"
			data-y="280" 
			data-speed="500"
			data-start="2250"
			data-easing="Power3.easeInOut"
			data-splitin="chars"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Heart
		</div>
        
        <div class="tp-caption grey_heavy_72-light skewfromrightshort tp-resizeme rs-parallaxlevel-0"
			data-x="183"
			data-y="280" 
			data-speed="500"
			data-start="2250"
			data-easing="Power3.easeInOut"
			data-splitin="chars"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Specialist
		</div>

		<div class="tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
			data-x="0"
			data-y="357" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="500"
			data-start="2600"
			data-easing="Power3.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.05"
			data-endelementdelay="0.1"
			style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><div style="text-align:left;">If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur <br/>adipiscing elit. Ut volutpat eros  adipiscing elit Ut volutpat. </div>
		</div>

		
	</li>
	
	
	
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on"  data-title="Intro Slide">
		
		<img src="images/slides/banenr-img2.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		
		<div class="tp-caption grey_heavy_72 skewfromleftshort fadeout tp-resizeme rs-parallaxlevel-10"
			data-x="0"
			data-y="115" 
			data-speed="500"
			data-start="2250"
			data-easing="Power3.easeInOut"
			data-splitin="chars"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Medical
		</div>
        
        <div class="tp-caption grey_heavy_72-light skewfromleftshort fadeout tp-resizeme rs-parallaxlevel-10"
			data-x="245"
			data-y="115" 
			data-speed="500"
			data-start="2950"
			data-easing="Power3.easeInOut"
			data-splitin="chars"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Services
		</div>

		
		<div class="tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
			data-x="0"
			data-y="194" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="800"
			data-start="3400"
			data-easing="Power3.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.05"
			data-endelementdelay="0.1"
			style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><div style="text-align:left;">If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur <br/>adipiscing elit. Ut volutpat eros  adipiscing elit Ut volutpat. </div>
		</div>
		
        
        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
			data-x="0"
			data-y="265" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="600"
			data-start="4000"
			data-easing="Power3.easeInOut"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			style="z-index: 8;"><img src="images/slides/plus.png" alt="" >
		</div>
        
        
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
			data-x="38"
			data-y="265" 
			data-speed="600"
			data-start="4100"
			data-easing="Power3.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap; font-size: 18px;">Managing your Family Health care.
		</div>
        
        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
			data-x="0"
			data-y="310" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="600"
			data-start="4300"
			data-easing="Power3.easeInOut"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			style="z-index: 8;"><img src="images/slides/plus.png" alt="" >
		</div>
        
        
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
			data-x="38"
			data-y="310" 
			data-speed="600"
			data-start="4400"
			data-easing="Power3.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap; font-size: 18px;">Cancer Researchers Honored
		</div>
        
        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
			data-x="0"
			data-y="355" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="600"
			data-start="4600"
			data-easing="Power3.easeInOut"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			style="z-index: 8;"><img src="images/slides/plus.png" alt="" >
		</div>
        
        
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
			data-x="38"
			data-y="355" 
			data-speed="600"
			data-start="4700"
			data-easing="Power3.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap; font-size: 18px;">Orthopedic Health keeps you Active
		</div>
        
        <div class="tp-caption arrowicon customin  rs-parallaxlevel-10"
			data-x="0"
			data-y="430" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="850"
			data-start="5500"
			data-easing="Power3.easeInOut"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			style="z-index:12000;"><a href="services.html"><img src="images/slides/icon1.png" alt="" ></a>
		</div>
        
        <div class="tp-caption arrowicon customin  rs-parallaxlevel-10"
			data-x="108"
			data-y="430" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="850"
			data-start="6000"
			data-easing="Power3.easeInOut"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			style="z-index:12000;"><a href="services.html"><img src="images/slides/icon2.png" alt="" ></a>
		</div>
		
         <div class="tp-caption arrowicon customin  rs-parallaxlevel-10"
			data-x="216"
			data-y="430" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="850"
			data-start="6500"
			data-easing="Power3.easeInOut"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			style="z-index:12000;"><a href="services.html"><img src="images/slides/icon3.png" alt="" ></a>
		</div>
       
        <div class="tp-caption arrowicon customin  rs-parallaxlevel-10"
			data-x="324"
			data-y="430" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="850"
			data-start="7000"
			data-easing="Power3.easeInOut"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			style="z-index:12000;"><a href="services.html"><img src="images/slides/icon4.png" alt="" ></a>
		</div>
        
        
        <div class="tp-caption arrowicon customin  rs-parallaxlevel-10"
			data-x="432"
			data-y="430" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="850"
			data-start="7500"
			data-easing="Power3.easeInOut"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			style="z-index:12000;"><a href="services.html"><img src="images/slides/view-all.png" alt="" ></a>
		</div>
        
		
		
	</li>
	
    
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on"  data-title="Intro Slide">
		
		<img src="images/slides/banenr-img3.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

		
		
        
        <div class="tp-caption grey_heavy_72-light customin randomrotateout tp-resizeme rs-parallaxlevel-10"
			data-x="0"
			data-y="220" 
			data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
			data-speed="650"
			data-start="1050"
			data-easing="Power3.easeInOut"
			data-splitin="chars"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Leading the Way in
		</div>

		
		<div class="tp-caption grey_heavy_72 customin randomrotateout tp-resizeme rs-parallaxlevel-10"
			data-x="0"
			data-y="286" 
			data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
			data-speed="650"
			data-start="2500"
			data-easing="Power3.easeInOut"
			data-splitin="chars"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Research & Development
		</div>

		
		<div class="tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
			data-x="0"
			data-y="362" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="500"
			data-start="4600"
			data-easing="Power3.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.05"
			data-endelementdelay="0.1"
			style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><div style="text-align:left;">Whether it's picking up the photne and calling you back.</div>
		</div>
		
		
		<div class="tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
			data-x="0"
			data-y="429" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="800"
			data-start="4900"
			data-easing="Power3.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.05"
			data-endelementdelay="0.1"
			style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><div style="text-align:left; background:#f15b5a;">
			<a href="about-us.html" class="read-more" style=" line-height: initial; color: #fff; text-transform: uppercase; font-weight: 500; padding: 12px 36px; display: inline-block; font-size: 18px;">read more</a>
			</div>
		</div>
		
	</li>
	
    
</ul>
<div class="tp-bannertimer"></div>	</div>
</div>	
   
   <!--End Banner-->
   
    
   
   <!--Start Content-->
   <div class="content">
   
   <!--Start Services-->
   <div class="services-two dark-back">
        	<div class="container">
            	<div class="row">
                	
                  <div class="col-md-6">
                    	
                        <div class="service-sec">
                        	
                            <div class="icon">
                            	<i class="icon-tooth"></i>
                            </div>
                            
                            <div class="detail">
                            	<h5>Dental Care</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                            
                        </div>
                        <div class="service-sec">
                        	
                            <div class="icon">
                            	<i class="icon-patient-bed"></i>
                            </div>
                            
                            <div class="detail">
                            	<h5>Operation Theater</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                            
                        </div>
                        <div class="service-sec">
                        	
                            <div class="icon">
                            	<i class="icon-doctor"></i>
                            </div>
                            
                            <div class="detail">
                            	<h5>Qualified Doctors</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                            
                        </div>
                        
                    </div>  
                    
                    
                    
                    <div class="col-md-6">
                    
                    	<div id="demo">
        
          
            <div class="span12">
              <div id="services-slide" class="owl-carousel">

                <div class="item"><img src="images/service-two-img1.jpg" alt=""></div>
                <div class="item"><img src="images/service-two-img2.jpg" alt=""></div>
                <div class="item"><img src="images/service-two-img3.jpg" alt=""></div>

              </div>
            </div>
          
        
    </div>
                    
                    </div>
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
   <!--End Services-->
   
   <!--Start Appointment-->
   <div class="make-appointment-two">
   <div class="container">
	<div class="row">
		
		<div class="col-md-5">
			<img src="images/appointment-img.jpg" alt="">
		</div>
		
		<div class="col-md-7">
			<div class="appointment-form">
				
				<div class="main-title">
					<h2><span>Make an</span> Appointment</h2>
					<p>If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing elit. Ut volutpat eros  adipiscing nonummy.</p>
				</div>
				
				<div class="form">
					
  

    
    <section class="bgcolor-a">
        <p class="error" id="error" style="display:none;"></p>
    <p class="success" id="success" style="display:none;"></p>
    
    <form name="appointment_form" id="appointment_form" method="post" action="#" onSubmit="return false">
				<span class="input input--kohana">
					<input class="input__field input__field--kohana" type="text" id="input-29" name="input-29" />
					<label class="input__label input__label--kohana" for="input-29">
                        <i class="icon-user6 icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">Your Name</span>
					</label>
				</span>
				<span class="input input--kohana">
					<input class="input__field input__field--kohana" type="text" id="input-30" name="input-30"/>
					<label class="input__label input__label--kohana" for="input-30">
						<i class="icon-dollar icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">Email Address</span>
					</label>
				</span>
				<span class="input input--kohana last">
					<input class="input__field input__field--kohana" type="text" id="input-31" name="input-31"/>
					<label class="input__label input__label--kohana" for="input-31">
						<i class="icon-phone5 icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">Phone Number</span>
					</label>
				</span>
                
                <span class="input input--kohana">
					<input class="input__field input__field--kohana" type="text" id="datepicker"  placeholder="Appointment Date" onClick="removeChecks();" name="datepicker" />	
				</span>
                
                <span class="input input--kohana message">
					<textarea class="input__field input__field--kohana" id="textarea" name="textarea" ></textarea>

					<label class="input__label input__label--kohana" for="textarea">
						<i class="icon-new-message icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">Message</span>
                    </label>
                </span>
                
                <input name="submit_appointment" type="submit" value="send" onClick="validateAppointment();">
                        
                        
            </form>
                
			</section>
            
            
    

   
    
				</div>
				
			</div>
		</div>
		
	</div>
   </div>
   </div>
   <!--End Appointment-->
   
   
   <!--Start Welcome-->
    <div class="welcome dark-back">
     <div class="container">
     	
        <div class="row">
        <div class="col-md-12">
            <div class="main-title">
                <h2><span>Welcome to</span> Medical Guide</h2>
                <p>If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing elit. Ut volutpat eros  adipiscing nonummy.</p>
            </div>
        </div>
        </div>
     
		<div id="tabbed-nav">
                    <ul>
                        <li><a>Medical Surgery</a></li>
                        <li><a>Departments</a></li>
                        <li><a>Patient life</a></li>
                        <li><a>Baby Birth</a></li>
                    </ul>

                    
                        <div>
                        
                        <div>
                           
                           <div class="row">
                           	
                            <div class="col-md-6">
                            	<div class="welcome-serv-img">
                            		<img src="images/services-img2.jpg" alt="">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                            	
                                <div class="detail">
                                	<h4>Washington Medical Science Institute</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis.<br/><br/>

Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p>
									<a href="about-us.html">Read More</a>

                            	</div>
                                
                            </div>
                            
                           </div>
                           
                            
                        </div>
                        
                        <div>
                           
                           <div class="row">
                           	
                            <div class="col-md-6">
                            	<div class="welcome-serv-img">
                            		<img src="images/services-img3.jpg" alt="">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                            	
                                <div class="detail">
                                	<h4>Medical Guide Departments</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis.<br/><br/>

Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p>
									<a href="about-us.html">Read More</a>

                            	</div>
                                
                            </div>
                            
                           </div>
                           
                            
                        </div>
                        
                        <div>
                           
                           <div class="row">
                           	
                            <div class="col-md-6">
                            	<div class="welcome-serv-img">
                            		<img src="images/services-img1.jpg" alt="">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                            	
                                <div class="detail">
                                	<h4>Patient Life in Hospital</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis.<br/><br/>

Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p>
									<a href="about-us.html">Read More</a>

                            	</div>
                                
                            </div>
                            
                           </div>
                           
                            
                        </div>
                        
                        <div>
                           
                           <div class="row">
                           	
                            <div class="col-md-6">
                            	<div class="welcome-serv-img">
                            		<img src="images/services-img4.jpg" alt="">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                            	
                                <div class="detail">
                                	<h4>Latest Technology</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis.<br/><br/>

Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p>
									<a href="about-us.html">Read More</a>

                            	</div>
                                
                            </div>
                            
                           </div>
                           
                            
                        </div>
                        
                        </div>
                        
        </div>
               
                
     </div>
   </div>
   <!--End Welcome-->
   
   
   
   <!--Start Specialists-->
   <div class="meet-specialists">
   		<div class="container">
        	
            
			<div class="row">
	        <div class="col-md-12">
            <div class="main-title">
                <h2><span>Meet Our</span> Specialists</h2>
                <p>If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing elit. Ut volutpat eros  adipiscing nonummy.</p>
            </div>
            </div>
            </div>
            
            <div id="demo">
        <div class="container">
			<div class="row">
            	<div class="span12">

              <div id="owl-demo4" class="owl-carousel">
			  
                <div class="post item">
						
						<div class="gallery-sec">		
                        	<div class="image-hover img-layer-slide-left-right">
							<img src="images/team-member1.jpg" alt="">
                            <div class="layer">
									<a href="#."><i class="icon-euro"></i></a>
									<a href="#."><i class="icon-yen"></i></a>
									<a href="#."><i class="icon-caddieshoppingstreamline"></i></a>
								 </div>
                            </div>
                        </div>
							
                    <div class="detail">
                    	<h6>Dr. Andrew Bert</h6>
                        <span>Outpatient Surgery</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec eros eget nisl fringilla commodo.</p>
                        <a href="team-member-detail.html">- View Profile</a>
                    </div>
                    
                </div>
                <div class="post item">
                	
					<div class="gallery-sec">		
                        	<div class="image-hover img-layer-slide-left-right">
							<img src="images/team-member2.jpg" alt="">
                            <div class="layer">
									<a href="#."><i class="icon-euro"></i></a>
									<a href="#."><i class="icon-yen"></i></a>
									<a href="#."><i class="icon-caddieshoppingstreamline"></i></a>
								 </div>
                            </div>
                        </div>
						
                    <div class="detail">
                    	<h6>Dr. Sara Stefon</h6>
                        <span>Cardiologist</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec eros eget nisl fringilla commodo.</p>
                        <a href="team-member-detail.html">- View Profile</a>
                    </div>
                    
                </div>
                <div class="post item">
                	
					<div class="gallery-sec">		
                        	<div class="image-hover img-layer-slide-left-right">
							<img src="images/team-member3.jpg" alt="">
                            <div class="layer">
									<a href="#."><i class="icon-euro"></i></a>
									<a href="#."><i class="icon-yen"></i></a>
									<a href="#."><i class="icon-caddieshoppingstreamline"></i></a>
								 </div>
                            </div>
                        </div>
						
                    <div class="detail">
                    	<h6>Dr. Wahab Apple</h6>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec eros eget nisl fringilla commodo.</p>
                        <a href="team-member-detail.html">- View Profile</a>
                    </div>
                    
                </div>
                
				<div class="post item">
                	
					<div class="gallery-sec">		
                        	<div class="image-hover img-layer-slide-left-right">
							<img src="images/team-member4.jpg" alt="">
                            <div class="layer">
									<a href="#."><i class="icon-euro"></i></a>
									<a href="#."><i class="icon-yen"></i></a>
									<a href="#."><i class="icon-caddieshoppingstreamline"></i></a>
								 </div>
                            </div>
                        </div>
						
                    <div class="detail">
                    	<h6>Dr. Mecan smith</h6>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec eros eget nisl fringilla commodo.</p>
                        <a href="team-member-detail.html">- View Profile</a>
                    </div>
                    
                </div>
				
				<div class="post item">
						
						<div class="gallery-sec">		
                        	<div class="image-hover img-layer-slide-left-right">
							<img src="images/team-member5.jpg" alt="">
                            <div class="layer">
									<a href="#."><i class="icon-euro"></i></a>
									<a href="#."><i class="icon-yen"></i></a>
									<a href="#."><i class="icon-caddieshoppingstreamline"></i></a>
								 </div>
                            </div>
                        </div>
						
                    <div class="detail">
                    	<h6>Dr. Jack Bravo</h6>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec eros eget nisl fringilla commodo.</p>
                        <a href="team-member-detail.html">- View Profile</a>
                    </div>
                    
                </div>
				
                </div>
				</div>
            </div>
            </div>
			</div>
        </div>
   </div>
   <!--End Specialists-->
   
   
   <!--Start Doctor Quote-->
   <div class="dr-quote">
   		<div class="container">
        	<div class="row">
            	<div class="col-md-12">
                	<span class="quote">"Meeting the challenges of an ever-changing healthcare environment."</span>
                    <span class="name">- Dr. Jonathan Gobi</span>
                </div>
            </div>
        </div>
   </div>
   <!--End Doctor Quote-->
   
   
   
   <!--Start Latest News-->
   <div class="latest-news dark-back">
   		<div class="container">
        	
            <div class="row">
	        <div class="col-md-12">
            <div class="main-title">
                <h2><span>Latest News from</span> Medical guide</h2>
                <p>If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing elit. Ut volutpat eros  adipiscing nonummy.</p>
            </div>
            </div>
            </div>
            
           
           
           
            <div id="latest-news">
        <div class="container">
          <div class="row">
            <div class="span12">

              <div id="owl-demo" class="owl-carousel">

                <div class="post item">
                    	<img class="lazyOwl" src="images/news-img1.jpg" alt="">
                        <div class="detail">
                        	<img src="images/news-dr1.jpg" alt="">
                            <h4><a href="news-detail.html">Center for Medical</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eros...</p>
                            <span><i class="icon-clock3"></i> Apr 22, 2016</span>
                            <span class="comment"><a href="news-detail.html"><i class="icon-icons206"></i> 5 Comments</a></span>
                        </div>
                    </div>
                <div class="post item">
                    <img class="lazyOwl" src="images/news-img2.jpg" alt="">
                    <div class="detail">
                        <img src="images/news-dr2.jpg" alt="">
                        <h4><a href="news-detail.html">Laboratory Tests</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eros...</p>
                        <span><i class="icon-clock3"></i> Apr 09, 2016</span>
                        <span class="comment"><a href="news-detail.html"><i class="icon-icons206"></i> 3 Comments</a></span>
                    </div>
                </div>
                
                <div class="post item">
                    <img class="lazyOwl" src="images/news-img3.jpg" alt="">
                    <div class="detail">
                        <img src="images/news-dr1.jpg" alt="">
                        <h4><a href="news-detail.html">Research Center</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eros...</p>
                        <span><i class="icon-clock3"></i> Mar 28, 2016</span>
                        <span class="comment"><a href="news-detail.html"><i class="icon-icons206"></i> 0 Comments</a></span>
                    </div>
                </div>
                
                <div class="post item">
                    <img class="lazyOwl" src="images/news-img4.jpg" alt="">
                    <div class="detail">
                        <img src="images/news-dr2.jpg" alt="">
                        <h4><a href="news-detail.html">Child Birth</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eros...</p>
                        <span><i class="icon-clock3"></i> Mar 15, 2016</span>
                        <span class="comment"><a href="news-detail.html"><i class="icon-icons206"></i> 0 Comments</a></span>
                    </div>
                </div>
                
                <div class="post item">
                    <img class="lazyOwl" src="images/news-img5.jpg" alt="">
                    <div class="detail">
                        <img src="images/news-dr2.jpg" alt="">
                        <h4><a href="news-detail.html">Special Treatment</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eros...</p>
                        <span><i class="icon-clock3"></i> Mar 04, 2016</span>
                        <span class="comment"><a href="news-detail.html"><i class="icon-icons206"></i> 11 Comments</a></span>
                    </div>
                </div>    

              </div>

            </div>
          </div>
        </div>

    </div>
    
    
            
        </div>
   </div>
   <!--End Latest News-->
   
   
   </div>
   <!--End Content-->
   
   
   
   
   <!--Start Footer-->
   <footer class="footer" id="footer">
   		<div class="container">
        	<div class="row">
            	<div class="col-md-12">
                	<div class="emergency">
                    	<i class="icon-phone5"></i>
                        <span class="text">For emergency cases</span>
                        <span class="number">1-300-400-8211</span>
                        <img src="images/emergency-divider.png" alt="">
                    </div>
                </div>
            </div>
            
            
            <div class="main-footer">
            	<div class="row">
                	
                    <div class="col-md-3">
                    	
                        <div class="useful-links">
                        	<div class="title">
                            	<h5>Medical guide</h5>
                            </div>
                            
                            <div class="detail">
                            	<ul>
                                	
                                	<li><a href="#.">Home</a></li>
                                    <li><a href="#.">About Us</a></li>
                                    <li><a href="#.">Services</a></li>
                                    <li><a href="#.">Departments</a></li>
                                    <li><a href="#.">Timetable</a></li>
                                    <li><a href="#.">Why Us</a></li>
                                    <li><a href="#.">Specilaties</a></li>
                                    <li><a href="#.">Contact Us</a></li>
                                    <li><a href="#.">Events</a></li>
                                    
                                </ul>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="col-md-3">
                    	
                        
                        	<div class="title">
                            	<h5>LATEST TWEETS</h5>
                            </div>
                            
                            <div class="detail">
                            	
                                <div class="tweets">
                                	
                                    <div class="icon">
                                    	<i class="icon-yen"></i>
                                    </div>
                                    
                                    <div class="text">
                                    	<p><a href="#.">@Rotography</a> Please kindly use Support Forum: <a href="#.">Medical.co.uk</a></p>
                                        <span>3 days ago</span>
                                    </div>
                                    
                                </div>
                                
                                <div class="tweets">
                                	
                                    <div class="icon">
                                    	<i class="icon-yen"></i>
                                    </div>
                                    
                                    <div class="text">
                                    	<p>A quick launcher for WordPress dashboard <a href="#.">@Medical</a></p>
                                        <span>about a week ago</span>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        
                        
                    </div>
                    <div class="col-md-3">
                    	
                        <div class="newsletter">
                        	<div class="title">
                            	<h5>NEWSLETTER</h5>
                            </div>
                            
                            <div class="detail">
                            	
                                    <div class="signup-text">
                                    	<i class="icon-dollar"></i>
                                		<span>Sign up with your name and email to get updates fresh updates.</span>
                                    </div>
                                    
                                    <div class="form">
                                    <p class="subscribe_success" id="subscribe_success" style="display:none;"></p>
                                    <p class="subscribe_error" id="subscribe_error" style="display:none;"></p>
                                    
                                    <form name="subscribe_form" id="subscribe_form" method="post" action="#" onSubmit="return false">
                                    	<input type="text" data-delay="300" placeholder="Your Name" name="subscribe_name" id="subscribe_name" onKeyPress="removeChecks();" class="input" >
                                    	<input type="text" data-delay="300" placeholder="Email Address" name="subscribe_email" id="subscribe_email" onKeyPress="removeChecks();" class="input" >
                                        <input name="Subscribe" type="submit" value="Subscribe" onClick="validateSubscription();">
                                    </form>
                                    </div>
                                    
                                </div>
                            
                            
                        </div>
                        
                    </div>
                    <div class="col-md-3">
                    	
                        <div class="get-touch">
                        	<div class="title">
                            	<h5>GET IN TOUCH</h5>
                            </div>
                            
                            <div class="detail">
                            	<div class="get-touch">
                                	
                                    
                                    <span class="text">Medical Bibendum auctor, to consequat ipsum, nec sagittis sem</span>
                                    
                                    
                                    <ul>
                                    	<li><i class="icon-location"></i> <span>Medical Ltd, Manhattan 1258, New York, USA Lahore</span></li>
                                        <li><i class="icon-phone4"></i> <span>(+1) 234 567 8901</span></li>
                                        <li><a href="#."><i class="icon-dollar"></i> <span>hello@medical-guide.com</span></a></li>
                                    </ul> 
                                    
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
        <div class="footer-bottom">
        	<div class="container">
            	<div class="row">
                	
                    <div class="col-md-6">
                    	<span class="copyrights">Copyright &copy; 2015 Medical Guide. All right reserved.</span>
                    </div>
                    
                    <div class="col-md-6">
                    	<div class="social-icons">
                        	<a href="#." class="fb"><i class="icon-euro"></i></a>
                            <a href="#." class="tw"><i class="icon-yen"></i></a>
                            <a href="#." class="gp"><i class="icon-google-plus"></i></a>
                            <a href="#." class="vimeo"><i class="icon-vimeo4"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
   </footer>
   <!--End Footer-->



<a href="#0" class="cd-top"></a>
  </div>




<script type="text/javascript" src="js/jquery.js"></script>

<!-- SMOOTH SCROLL -->	
<script type="text/javascript" src="js/scroll-desktop.js"></script>
<script type="text/javascript" src="js/scroll-desktop-smooth.js"></script>

<!-- START REVOLUTION SLIDER -->	
<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>


<!-- Date Picker and input hover -->
<script type="text/javascript" src="js/classie.js"></script> 
<script type="text/javascript" src="js/jquery-ui-1.10.3.custom.js"></script>

<!-- Fun Facts Counter -->
<script type="text/javascript" src="js/counter.js"></script>


<!-- Welcome Tabs -->	
<script type="text/javascript" src="js/tabs.js"></script>


<!-- All Carousel -->
<script type="text/javascript" src="js/owl.carousel.js"></script>

<!-- Mobile Menu -->
<script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>

<!-- All Scripts -->
<script type="text/javascript" src="js/custom.js"></script> 


<!-- Revolution Slider -->	
<script type="text/javascript">
jQuery('.tp-banner').show().revolution(
{
dottedOverlay:"none",
delay:16000,
startwidth:1170,
startheight:720,
hideThumbs:200,

thumbWidth:100,
thumbHeight:50,
thumbAmount:5,

navigationType:"nexttobullets",
navigationArrows:"solo",
navigationStyle:"preview",

touchenabled:"on",
onHoverStop:"on",

swipe_velocity: 0.7,
swipe_min_touches: 1,
swipe_max_touches: 1,
drag_block_vertical: false,

parallax:"mouse",
parallaxBgFreeze:"on",
parallaxLevels:[7,4,3,2,5,4,3,2,1,0],

keyboardNavigation:"off",

navigationHAlign:"center",
navigationVAlign:"bottom",
navigationHOffset:0,
navigationVOffset:20,

soloArrowLeftHalign:"left",
soloArrowLeftValign:"center",
soloArrowLeftHOffset:20,
soloArrowLeftVOffset:0,

soloArrowRightHalign:"right",
soloArrowRightValign:"center",
soloArrowRightHOffset:20,
soloArrowRightVOffset:0,

shadow:0,
fullWidth:"on",
fullScreen:"off",

spinner:"spinner4",

stopLoop:"off",
stopAfterLoops:-1,
stopAtSlide:-1,

shuffle:"off",

autoHeight:"off",						
forceFullWidth:"off",						



hideThumbsOnMobile:"off",
hideNavDelayOnMobile:1500,						
hideBulletsOnMobile:"off",
hideArrowsOnMobile:"off",
hideThumbsUnderResolution:0,

hideSliderAtLimit:0,
hideCaptionAtLimit:0,
hideAllCaptionAtLilmit:0,
startWithSlide:0,
videoJsPath:"rs-plugin/videojs/",
fullScreenOffsetContainer: ""	
});
</script>


</body>
</html>